
.Layer {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: -1px;
  width: 1920px;
  height: 1081.88px;
  mix-blend-mode: normal;
  background: radial-gradient(ellipse 50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.Layer::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 1;
 }

 .mapboxgl-map{
  width: 1920px;
  height: 1081.88px;
  z-index: 0;
 }

 #deckgl-wrapper {
  width: 1920px;
  height: 1081.88px;
  overflow: hidden;
}

